body {
    color: #fff;
    background: #282828;
    font: 100% system-ui;
    margin-left: 10%;
    margin-top: 5%;
}
a {
    color: #ff2e88;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #282828;
    }
}

h1 {
    color: #fe8019;
}