body {
    color: #fff;
    background: #282828;
    font: 100% system-ui;
}
a {
    color: #ff2e88;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #282828;
        display:flex; flex-direction:column; justify-content:center;

    }
}

h1 {
    color: #fe8019;
    text-align: center;
}

ul li {
  display: inline-block;
  text-align: center;
  list-style-position: inside;
}

h3 {
  color: #689d6a;
  text-align: center;
}
